<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @provider.company_name %>
</p>

<p>
  <strong>Fantasy name:</strong>
  <%= @provider.fantasy_name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @provider.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @provider.cnpj %>
</p>

<p>
  <strong>Street:</strong>
  <%= @provider.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @provider.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @provider.neighborhood %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @provider.cep %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @provider.ie %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @provider.bank %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @provider.ag %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @provider.cc %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @provider.variation %>
</p>

<p>
  <strong>State:</strong>
  <%= @provider.state.acronym %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.city.name %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @provider.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @provider.phone2 %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
