<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1>Matéria-Prima</h1>
  <%= link_to 'Nova matéria-prima', new_raw_material_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Qnt.</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <% @raw_materials.each do |raw_material| %>
      <tr>
        <td scope="row"><%= raw_material.id %></td>
        <td><%= raw_material.name %></td>
        <td><%= raw_material.amount %></td>
        <td>
          <%= link_to raw_material, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            Show
          <% end %>
          <%= link_to edit_raw_material_path(raw_material), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            Editar
          <% end %>
          <%= link_to raw_material, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            Excluir
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
