<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Office:</strong>
  <%= @employee.office %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @employee.bank %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @employee.ag %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @employee.cc %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @employee.variation %>
</p>

<p>
  <strong>Street:</strong>
  <%= @employee.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @employee.number %>
</p>

<p>
  <strong>String:</strong>
  <%= @employee.string %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @employee.neighborhood %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @employee.cep %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @employee.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @employee.phone2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @employee.user %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
