
<%= simple_form_for(@out_of_stock) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :budget %>
    <%= f.association :user %>
    <%= f.association :product %>
    <%= f.input :qnt %>
    <%= f.input :cost %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
