<p id="notice"><%= notice %></p>

<p>
  <strong>Budget:</strong>
  <%= @out_of_stock.budget %>
</p>

<p>
  <strong>User:</strong>
  <%= @out_of_stock.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @out_of_stock.product %>
</p>

<p>
  <strong>Qnt:</strong>
  <%= @out_of_stock.qnt %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @out_of_stock.cost %>
</p>

<p>
  <strong>Value:</strong>
  <%= @out_of_stock.value %>
</p>

<%= link_to 'Edit', edit_out_of_stock_path(@out_of_stock) %> |
<%= link_to 'Back', out_of_stocks_path %>
