<%- model_class = BillReceivable -%>
<td scope="row"><%= link_to bill_receivable.id, bill_receivable %></td>
<td>
  <% if bill_receivable.type_receivable == 'budget' %>
    <%= link_to_modal bill_receivable.budget.cod_name, budget_path(bill_receivable.budget), class: 'text-dark' %>
  <% else %>
    <ul class="list-unstyled">
      <li>
        <strong>
          <%= model_class.human_attribute_name(:name_other) %>:
        </strong>
        <%= bill_receivable.name_other %>
      </li>
      <li>
        <strong>
          <%= model_class.human_attribute_name(:cpf_other) %>/<%= model_class.human_attribute_name(:cnpj_other) %>:
        </strong>
        <%= bill_receivable.cpf_other.present? ? bill_receivable.cpf_other : bill_receivable.cnpj_other %>
      </li>
      <li>
        <strong>
          <%= model_class.human_attribute_name(:phone_other) %>:
        </strong>
        <%= bill_receivable.phone_other %>
      </li>
    </ul>
  <% end %>
</td>
<td><%= bill_receivable.category.try(:name) %></td>
<td><%= bill_receivable.revenue.try(:name) %></td>
<td><%= label_status_bri bill_receivable_installment %></td>
<td><%= number_to_currency bill_receivable_installment.value if bill_receivable_installment%></td>
<td><%= bill_receivable_installment.status != 'paid' ? bill_payable_installment.date : '-' %></td>
<% if bill_receivable_installment.status != 'paid' %>
  <td class="d-print-none text-center" onclick="change_check_pay('pay_<%= bill_receivable_installment.id %>');">
    <%= check_box_tag "receber[]", bill_receivable_installment.id, false , :class=>"styled d-none", id: "pay_#{bill_receivable_installment.id}" %>
    <i class="material-icons " id="check_pay_<%= bill_receivable_installment.id %>">
      check_box_outline_blank
    </i>
  </td>
<% else %>
  <td>-</td>
<% end %>
<td class="d-print-none text-center">
  <%= link_to_modal_form "Receber", receive_item_path(bill_receivable_installment), class: 'btn btn-outline-success' if bill_receivable_installment.status != 'paid' %>
  <%#= link_to bill_receivable, class: 'btn btn-info has-icon' do %>
  <!-- <i class="material-icons">remove_red_eye</i> -->
  <%#= t('.show', :default => t("helpers.links.show")) %>
  <%# end %>
  <%= link_to edit_bill_receivable_path(bill_receivable), class: 'btn btn-primary has-icon' do %>
  <!-- <i class="material-icons">edit</i> -->
  <%= t('.edit', :default => t("helpers.links.edit")) %>
  <% end %>
  <%= link_to bill_receivable, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
  <!-- <i class="material-icons">delete</i> -->
  <%= t('.destroy', :default => t("helpers.links.destroy")) %>
  <% end %>
</td>