<%= simple_nested_form_for(@bill_receivable) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <% BillReceivable.type_receivables.each do |type_receivable| %>
            <%= link_to t("enums.bill_receivable.type_receivables.#{type_receivable[0]}"), "#nav-type-receivable-#{type_receivable[0]}", data: { toggle: "pill" }, role: "tab", aria: { controls: "nav-type-receivable-#{type_receivable[0]}", selected: "true" }, id: "nav-tab-type-receivable-#{type_receivable[0]}", class: "nav-item nav-link #{f.object.type_receivable == type_receivable[0] ? 'active' : ''}", onclick: "change_type_receivable('#{type_receivable[0]}', 'bill_receivable_type_receivable');" %>

          <% end %>
        </div>
      </nav>
      <%= f.input :type_receivable, as: :hidden %>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade <%= f.object.type_receivable == 'budget' ? 'show active' : '' %>" id="nav-type-receivable-budget" role="tabpanel" aria-labelledby="nav-budget-tab">
          
          <% if params[:budget].present? %>
            <%= f.association :budget, collection: Budget.accessible_by(current_ability).order(:cod_name).map {|x| [x.cod_name, x.id]}, prompt: "Escolha um Pedido", selected: params[:budget], input_html: { class: 'simple-select2' } %>
          <% else %>
            <%= f.association :budget, collection: Budget.accessible_by(current_ability).order(:cod_name).map {|x| [x.cod_name, x.id]}, prompt: "Escolha um Pedido", input_html: { class: 'simple-select2' } %>
          <% end %>
          

        </div>
        <div class="tab-pane fade <%= f.object.type_receivable == 'other' ? 'show active' : '' %>" id="nav-type-receivable-other" role="tabpanel" aria-labelledby="nav-budget-tab">
          <div class="row">
            <div class="col">
              <%= f.input :name_other %>
              <%= f.input :phone_other, input_html: { class: 'phone_with_ddd' } %>
            </div>
            <div class="col">
              <%= f.input :cpf_other, input_html: { class: 'cpf' } %>
              <%= f.input :cnpj_other, input_html: { class: 'cnpj' } %>
            </div>
          </div>
              <%= f.input :obs_other %>
        </div>
      </div>



      <span class="change_icon_file">
        <span class="file-name badge badge-success"><%= @bill_receivable.file.file.identifier if @bill_receivable.file.present? %></span>
        <div class="d-flex flex-row bd-highlight mb-3">
          <i class="material-icons p-2 bd-highlight">
          <span class="icon-file badge <%= @bill_receivable.file.present? ? 'badge-success' : 'badge-danger' %> ">
            <%= @bill_receivable.file.present? ? 'cloud_done' : 'cloud' %>
          </span>
          </i>
          <%= f.input :file, label: false, input_html: { class: 'p-2 bd-highlight update_file_by_icon', onchange: "change_icon_file($(this));" } %>
        </div>
      </span>
      <%= f.hidden_field :file_cache %>

      <%= f.association :category, input_html: { class: 'simple-select2' } %>
      <%= f.association :revenue, input_html: { class: 'simple-select2' } %>
      <%= f.input :obs %>

    </div>
  </div>

  <% if @bill_receivable.errors[:bill_receivable_installments].present? %>
    <legend class="alert alert-danger">
      <small class=""><%= @bill_receivable.errors.full_messages.first %></small>
    </legend>
  <% else %>
    <legend>Parcelas</legend>
  <% end %>
  <div id="bill_receivable_installments">
    <%= f.fields_for :bill_receivable_installments do |bill_receivable_installments_form| %>
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-body mb-3">
            <%= bill_receivable_installments_form.association :bank, input_html: {class: 'simple-select2'}, prompt: "Escolha um Banco" %>

            
            <% if params[:value].present? %>
            <%= bill_receivable_installments_form.input :value, input_html: {class: 'value_budget', value: params[:value]} %>
            <% else %>
              <%= bill_receivable_installments_form.input :value, input_html: {class: 'value_budget'} %>
            <% end %>
            
            <%= bill_receivable_installments_form.input :date, as: :string, placeholder: '', required: false, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>



            <span class="change_icon_file">
              <span class="badge badge-success file-name"><%= bill_receivable_installments_form.object.file.file.identifier if bill_receivable_installments_form.object.file.present? %></span>
              <div class="d-flex flex-row bd-highlight mb-3">
                <i class="material-icons p-2 bd-highlight">
                <span class="icon-file badge <%= bill_receivable_installments_form.object.file.present? ? 'badge-success' : 'badge-danger' %> ">
                  <%= bill_receivable_installments_form.object.file.present? ? 'cloud_done' : 'cloud' %>
                </span>
                </i>
                <%= bill_receivable_installments_form.input :file_to_pay, input_html: { class: 'p-2 bd-highlight update_file_by_icon', onchange: "change_icon_file($(this));" } %>
              </div>
              <%= bill_receivable_installments_form.hidden_field :file_cache %>
              <label class="form-control-label float optional d-lg-none d-xl-none">  </label>
              <%= bill_receivable_installments_form.link_to_remove "Remover parcela", class: 'btn btn-outline-danger form-control float optional mt-2 d-lg-none d-xl-none' %>
            </span>
            <div class="form-group float optional provider_contract_bill_receivable_installments_value form-group-valid">
              <label class="form-control-label float optional d-none d-lg-block d-xl-block">  </label>
              <%= bill_receivable_installments_form.link_to_remove "Remover parcela", class: 'btn btn-outline-danger form-control float optional mt-2 d-none d-lg-block d-xl-block' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <p><%= f.link_to_add "Adicionar Parcela", :bill_receivable_installments, :data => { :target => "#bill_receivable_installments" }, class: 'btn btn-outline-primary' %></p>
  <hr>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm">
        <% if params[:value].present? %>
          <%= f.input :total_value, readonly: true, input_html: {value: params[:value]} %>
        <% else %>
          <%= f.input :total_value, readonly: true %>
        <% end %>
      </div>
    </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', bill_receivables_path, class: 'btn btn-danger' %>
<% end %>
