<p id="notice"><%= notice %></p>

<h1>BillReceivables</h1>

<table>
  <thead>
    <tr>
      <th>Type receivable</th>
      <th>Budget</th>
      <th>Name other</th>
      <th>Cpf other</th>
      <th>Cnpj other</th>
      <th>Phone other</th>
      <th>Obs other</th>
      <th>Category</th>
      <th>Revenue</th>
      <th>Status</th>
      <th>Obs</th>
      <th>File</th>
      <th>Total value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_receivables.each do |bill_receivable| %>
      <tr>
        <td><%= bill_receivable.type_receivable %></td>
        <td><%= bill_receivable.budget %></td>
        <td><%= bill_receivable.name_other %></td>
        <td><%= bill_receivable.cpf_other %></td>
        <td><%= bill_receivable.cnpj_other %></td>
        <td><%= bill_receivable.phone_other %></td>
        <td><%= bill_receivable.obs_other %></td>
        <td><%= bill_receivable.category %></td>
        <td><%= bill_receivable.revenue %></td>
        <td><%= bill_receivable.status %></td>
        <td><%= bill_receivable.obs %></td>
        <td><%= bill_receivable.file %></td>
        <td><%= bill_receivable.total_value %></td>
        <td><%= link_to 'Show', bill_receivable %></td>
        <td><%= link_to 'Edit', edit_bill_receivable_path(bill_receivable) %></td>
        <td><%= link_to 'Destroy', bill_receivable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Receivable', new_bill_receivable_path %>
