<%- model_class = BillReceivable -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_bill_receivable_path, class: "btn btn-primary d-print-none" %>
</div>
<%= render 'search' %>

<%= form_tag receives_path do %>
  <div class="d-flex justify-content-between w-100">
    <div class="mb-2">
      <%= paginate @bill_receivables if @bill_receivables.size > 20 %>
      <%= page_entries_info @bill_receivables, entry_name: 'item' %>
    </div>
    <div class="mb-2">
      <%= link_to "Selecionar todos", "javascript:;", :id => "select_all", :class => 'btn btn-info d-print-none' -%>
      <%= submit_tag "Receber selecionados", :class => 'btn btn-success d-print-none pay_all', disabled: true %>
    </div>
  </div>
<%= paginate @bill_receivables %>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= sort_link @q, :id, "#", default_order: :desc %></th>

          <th scope="col"><%= sort_link @q, :type_receivable, model_class.human_attribute_name(:type_receivable), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :category, model_class.human_attribute_name(:category), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :revenue, model_class.human_attribute_name(:revenue), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :status, model_class.human_attribute_name(:status), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :total_value, "Valor", default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :total_value, model_class.human_attribute_name(:due_date), default_order: :desc %></th>
          <th scope="col" class="d-print-none text-center">Selecione</th>
          <th scope="col" class="d-print-none text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @bill_receivables.includes(:bill_receivable_installments).each do |bill_receivable| %>
          <% bill_receivable.bill_receivable_installments.each do |bill_receivable_installment| %>
            <tr id="bill_receivable-item-<%= bill_receivable_installment.id %>">
              <%= render 'bill_receivable_item', bill_receivable: bill_receivable, bill_receivable_installment: bill_receivable_installment %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= paginate @bill_receivables %>