<p id="notice"><%= notice %></p>

<p>
  <strong>Type receivable:</strong>
  <%= @bill_receivable.type_receivable %>
</p>

<p>
  <strong>References:</strong>
  <%= @bill_receivable.references %>
</p>

<p>
  <strong>Name other:</strong>
  <%= @bill_receivable.name_other %>
</p>

<p>
  <strong>Cpf other:</strong>
  <%= @bill_receivable.cpf_other %>
</p>

<p>
  <strong>Cnpj other:</strong>
  <%= @bill_receivable.cnpj_other %>
</p>

<p>
  <strong>Phone other:</strong>
  <%= @bill_receivable.phone_other %>
</p>

<p>
  <strong>Obs other:</strong>
  <%= @bill_receivable.obs_other %>
</p>

<p>
  <strong>References:</strong>
  <%= @bill_receivable.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @bill_receivable.references %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill_receivable.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @bill_receivable.obs %>
</p>

<p>
  <strong>File:</strong>
  <%= @bill_receivable.file %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @bill_receivable.total_value %>
</p>

<%= link_to 'Edit', edit_bill_receivable_path(@bill_receivable) %> |
<%= link_to 'Back', bill_receivables_path %>
