<td scope="row">
  <%= link_to budget.id, budget %>
</td>
<td><%= link_to budget.cod_name, budget %></td>
<td><%= budget.client.company_name %></td>
<td><%= budget.employee.name %></td>
<td><%= budget.try(:delivery_option).try(:name) %></td>
<td><%=l budget.deadline %></td>
<!-- <td><%#= budget.try(:type_of_payment).try(:name) %></td> -->
<td><%= number_to_currency budget.discount %></td>
<td><%= number_to_currency budget.value %></td>
<td><%= budget.created_at.to_s(:custom_datetime) %></td>
<td>
  <% flash.each do |name, msg| %>
    <% aux = 'alert-primary' %>
    <% case name
      when 'notice'
        aux = 'alert-primary'
      when 'success'
        aux = 'alert-success'
      when 'error'
        aux = 'alert-danger'
      when 'alert'
        aux = 'alert-warning'
      end
    %>
    <%= content_tag(:div, msg, class: "alert #{aux} d-none") %>
  <% end %>
  <% flash.discard %>
  <%= label_status_budget budget %>
</td>
<td>
  <% if (can? :update_status, Budget) %>
    <%= link_to "Reservar", budget, class: 'btn btn-warning mb-1' if budget.status == 'authorized' and (current_user.has_role?(:admin) or current_user.has_role?(:manager)) %>
    <%= link_to "Confirmar", budget_update_status_path(budget.id, 'confirm'), class: 'btn btn-info mb-1', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, cache: false if budget.status == 'waiting' %>
    <%= link_to "Autorizar", budget_update_status_path(budget.id, 'authorized'), class: 'btn btn-success mb-1', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, cache: false if budget.status == 'confirm' %>
    <%= link_to "Faturar", budget_update_status_path(budget.id, 'billed'), class: 'btn btn-primary mb-1', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, cache: false if budget.status == 'authorized' %>
    <%= link_to "Despachar", budget_update_status_path(budget.id, 'delivered'), class: 'btn btn-dark mb-1', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, cache: false if budget.status == 'billed' %>
    <%= link_to "Reprovar", budget_update_status_path(budget.id, 'rejected'), class: 'btn btn-secondary mb-1', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, cache: false if budget.status == 'waiting' or budget.status == 'authorized' or budget.status == 'confirm' %>
    <hr>
  <% end %>
  <%#= link_to budget, class: 'btn btn-info has-icon mb-1' do %>
    <%# <i class="material-icons">remove_red_eye</i> %>
    <%#= t('.show', :default => t("helpers.links.show")) %>
  <%# end %>
  <%= link_to edit_budget_path(budget), class: 'btn btn-primary has-icon mb-1' do %>
    <%# <i class="material-icons">edit</i> %>
    <%= t('.edit', :default => t("helpers.links.edit")) %>
  <% end %>
  <%= link_to budget, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon mb-1' do %>
    <%# <i class="material-icons">delete</i> %>
    <%= t('.destroy', :default => t("helpers.links.destroy")) %>
  <% end %>
</td>