<td scope="row"><%= budget.id %></td>
<td><%= budget.cod_name %></td>
<td><%= budget.client.company_name %></td>
<td><%= budget.employee.name %></td>
<td><%= budget.try(:delivery_option).try(:name) %></td>
<td><%=l budget.deadline %></td>
<!-- <td><%#= budget.try(:type_of_payment).try(:name) %></td> -->
<td><%= number_to_currency budget.discount %></td>
<td><%= number_to_currency budget.value %></td>
<td><%= budget.created_at.to_s(:custom_datetime) %></td>
<td><%= label_status_budget budget %></td>
<td>
  <% if (can? :update_status, Budget) %>
    <%= link_to "Autorizar", budget_update_status_path(budget.id, 'authorized'), class: 'btn btn-success', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true if budget.status == 'waiting' %>
    <%= link_to "Reprovar", budget_update_status_path(budget.id, 'rejected'), class: 'btn btn-danger', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true if budget.status == 'waiting' %>
    <%= link_to "Faturar", budget_update_status_path(budget.id, 'billed'), class: 'btn btn-primary', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true if budget.status == 'authorized' %>
    <%= link_to "Despachar", budget_update_status_path(budget.id, 'delivered'), class: 'btn btn-dark', data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true if budget.status == 'billed' %>
    <hr>
  <% end %>
  <%= link_to budget, class: 'btn btn-info has-icon' do %>
    <i class="material-icons">remove_red_eye</i>
    <%#= t('.show', :default => t("helpers.links.show")) %>
  <% end %>
  <%= link_to edit_budget_path(budget), class: 'btn btn-primary has-icon' do %>
    <i class="material-icons">edit</i>
    <%#= t('.edit', :default => t("helpers.links.edit")) %>
  <% end %>
  <%= link_to budget, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
    <i class="material-icons">delete</i>
    <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
  <% end %>
</td>