<%= simple_nested_form_for(@budget) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
      <%= f.association :client, collection: ((current_user.has_role?(:admin) or current_user.has_role?(:manager)) ? (Client.order(:company_name).map {|x| [x.company_name, x.id]}) : (Client.where(employee: current_user.employee).order(:company_name).map {|x| [x.company_name, x.id]})), prompt: "Escolha um cliente" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :deadline, as: :string, input_html: { type: 'date' } %>
      <%= f.input :delivery_options, as: :select, collection: Budget.delivery_options_i18n.sort_by{ |k, v| v }.map { |w| [w[1], w[0]] }, prompt:  'Escolha um tipo' %>
      <%= f.input :type_of_payment, as: :select, collection: Budget.type_of_payments_i18n.sort_by{ |k, v| v }.map { |w| [w[1], w[0]] }, prompt:  'Escolha um tipo' %>
    </div>
  </div>
  <hr>
  <span id="budget_products">
    <%= f.fields_for :budget_products do |budget_products_form| %>
      <%= budget_products_form.input :total_value_with_discount, as: :hidden, input_html: { class: 'total_value_with_discount' } %>
      <div class="row">
        <div class="col-lg-2">
          <%= budget_products_form.association :product, collection: Product.order(:name), prompt: 'Produto', input_html: { class: 'product' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :unit_value, placeholder: 'Valor unitário', readonly: true, input_html: { class: 'unit_value' } %>
        </div>
        <div class="col-lg-1">
          <%= budget_products_form.input :qnt, label: 'Qnt.', placeholder: 'Quantidade', input_html: { class: 'qnt' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :total_value, placeholder: 'Valor total', readonly: true, input_html: { class: 'total_value' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :discount, readonly: true, placeholder: 'Disconto', input_html: { class: 'discount_item' } %>
        </div>
        <div class="col-lg-1" style="align-self: flex-end;">
          <%= budget_products_form.input :discount_type, as: :boolean, label: '%?', input_html: { class: 'discount_type' } %>
        </div>
        <div class="col-lg-2" style="align-self: center;">
          <%= budget_products_form.link_to_remove "Remover produto", class: 'btn btn-outline-danger' %>
        </div>
      </div>
      <hr>
    <% end %>
  </span>
  <p><%= f.link_to_add "Adicionar produto", :budget_products, :data => { :target => "#budget_products" }, class: 'btn btn-outline-primary' %></p>

  <hr>
  <div class="row" style="align-items: flex-end;">
    <div class="col-lg-2">
    <%= f.input :discount, readonly: true %>
    </div>
    <div class="col-lg-2">
      <%= f.input :discount_type %>
    </div>
    <div class="col-lg-2">
      <%= f.input :value, readonly: true %>
    </div>
    <div class="col-lg-2">
      <%= f.input :value_with_discount, readonly: true %>
    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', budgets_path, class: 'btn btn-danger' %>
<% end %>


