<% if params[:budget].present?
  if params[:budget][:delivery_option_id].present?
    sub_delivery_option = SubDeliveryOption.where(delivery_option_id: params[:budget][:delivery_option_id]).select(:id, :name).order(:name)
    select_sub_delivery_option = params[:budget][:sub_delivery_option_id]
  else
    sub_delivery_option = []
    select_sub_delivery_option = nil
  end

  if params[:budget][:type_of_payment_id].present?
    sub_type_payment = SubTypePayment.where(type_of_payment_id: params[:budget][:type_of_payment_id]).select(:id, :name).order(:name)
    select_sub_type_payment = params[:budget][:sub_delivery_option_id]
  else
    sub_type_payment = []
    select_sub_type_payment = nil
  end
else
  sub_delivery_option = []
  select_sub_delivery_option = nil

  sub_type_payment = []
  select_sub_type_payment = nil
end %>

<% if @budget.sub_delivery_option_id.present? %>
  <% sub_delivery_option = SubDeliveryOption.where(delivery_option_id: @budget.delivery_option_id).select(:id, :name).order(:name) %>
  <% select_sub_delivery_option = @budget.sub_delivery_option_id %>
<% end %>
<% if @budget.sub_type_payment_id.present? %>
  <% sub_type_payment = SubTypePayment.where(type_of_payment_id: @budget.type_of_payment_id).select(:id, :name).order(:name) %>
  <% select_sub_type_payment = @budget.sub_type_payment_id %>
<% end %>

<%= simple_nested_form_for(@budget) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.association :client, collection: Client.accessible_by(current_ability).order(:company_name).map {|x| [x.company_name, x.id]}, prompt: "Escolha um cliente", input_html: { class: 'simple-select2' } %>

      <%= f.input :deadline, as: :string, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>

    </div>
    <div class="col-lg-3">
      <%= f.association :delivery_option, collection: DeliveryOption.order(:name), prompt: 'Escolha um tipo' %>
      <%= f.association :type_of_payment, collection: TypeOfPayment.order(:name), prompt: 'Escolha um tipo' %>
    </div>
    <div class="col-lg-3">
      <%= f.association :sub_delivery_option, collection: sub_delivery_option, selected: select_sub_delivery_option, prompt: 'Escolha um tipo' %>
      <%= f.association :sub_type_payment, collection: sub_type_payment, selected: select_sub_type_payment, prompt: 'Escolha um tipo' %>
    </div>
  </div>
  <hr>
  <span id="budget_products">
    <%= f.fields_for :budget_products do |budget_products_form| %>
      <div class="row item_product">
        <%= budget_products_form.input :total_value_with_discount, as: :hidden, input_html: { class: '  total_value_with_discount' } %>
        <div class="col-lg-2">
          <%= budget_products_form.association :product, collection: Product.order(:name).map {|x| ["#{x.cod} / #{x.name}", x.id]} , prompt: 'Produto', input_html: { class: 'product simple-select2' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :unit_value, placeholder: 'Valor unitário', readonly: true, input_html: { class: 'unit_value' } %>
        </div>
        <div class="col-lg-1">
          <%= budget_products_form.input :qnt, label: 'Qnt.', placeholder: 'Quantidade', input_html: { class: 'qnt' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :total_value, placeholder: 'Valor total', readonly: true, input_html: { class: 'total_value' } %>
        </div>
        <div class="col-lg-2">
          <%= budget_products_form.input :discount, readonly: (budget_products_form.object.discount.to_f >= 0 ? false : true), placeholder: 'Disconto', input_html: { class: 'discount_item' } %>
        </div>
        <div class="col-lg-1" style="align-self: flex-end;">
          <%= budget_products_form.input :discount_type, as: :boolean, label: '%?', input_html: { class: 'discount_type' } %>
        </div>
        <div class="col-lg-2" style="align-self: center;">
          <%= budget_products_form.link_to_remove "Remover produto", class: 'btn btn-outline-danger' %>
        </div>
      </div>
      <hr>
    <% end %>
  </span>
  <p><%= f.link_to_add "Adicionar produto", :budget_products, :data => { :target => "#budget_products" }, class: 'btn btn-outline-primary' %></p>

  <hr>
  <div class="row" style="align-items: flex-end;">
    <div class="col-lg-2">
    <%= f.input :discount, readonly: (@budget.discount_items > 0 ? true : false) %>
    </div>
    <div class="col-lg-2">
      <%= f.input :discount_type %>
    </div>
    <div class="col-lg-2">
      <%= f.input :value, readonly: true %>
    </div>
    <div class="col-lg-2">
      <%= f.input :value_with_discount, readonly: true %>
    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', budgets_path, class: 'btn btn-danger' %>
<% end %>


