
<%= simple_form_for(@budget) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :client %>
    <%= f.association :employee %>
    <%= f.input :value %>
    <%= f.input :deadline %>
    <%= f.input :delivery_options %>
    <%= f.input :payment_term %>
    <%= f.input :type_of_payment %>
    <%= f.input :discount %>
    <%= f.input :discount_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
