<%= paginate @budgets if @budgets.total_pages > 1 %>
<% if @budgets.any? %>
  <p>
    Exibindo itens <strong><%= @budgets.offset_value + 1 %> - <%= @budgets.offset_value + @budgets.length %></strong>
    de um total de <strong><%= @budgets.total_count %></strong>
  </p>
<% else %>
  <p>Nenhum item encontrado.</p>
<% end %>

<table class="table table-bordered table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sort_link @q, :id, '#', default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :cod_name, model_class.human_attribute_name(:cod_name), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :client, model_class.human_attribute_name(:client), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :employee, model_class.human_attribute_name(:employee), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :delivery_options, model_class.human_attribute_name(:delivery_options), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :deadline, model_class.human_attribute_name(:deadline), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :discount, model_class.human_attribute_name(:discount), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :value, model_class.human_attribute_name(:value), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :created_at, model_class.human_attribute_name(:created_at), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :status, model_class.human_attribute_name(:status), default_order: :desc %></th>
      <th scope="col"><%= t '.actions', default: t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
      <tr id="budget-item-<%= budget.id %>">
        <%= render 'budgets_item', budget: budget %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @budgets if @budgets.total_pages > 1 %>
