<%- model_class = Budget -%>
<%= search_form_for @q, url: budgets_path, remote: true, html: { class: 'form-horizonal', id: 'budget-search-form' } do |f| %>
  <h3>Busca</h3>
  <div class="row justify-content-md-center">
    <div class="col-4">
      <%= f.input :cod_name_cont, label: model_class.human_attribute_name(:cod_name), placeholder: 'Ex: 410/2018', required: false %>
      <%#= f.input :status_eq, label: model_class.human_attribute_name(:status), as: :select, placeholder: 'code', :as => :select, :collection => Budget.statuses.map {|x| [t("enums.budget.status.#{x[0]}"), x[0]]}.sort_by {|a,b| a }, :include_blank => "Todas", input_html: {class: 'simple-select2'}, required: false %>
      <%= f.input :status_eq, label: model_class.human_attribute_name(:status), as: :select, placeholder: 'code', :as => :select, :collection => [['Aguardando Autorização', 0],
['Reprovado', 1],
['Autorizado', 2],
['Faturado', 3],
['Entregue', 4],
['Confirmado', 5]], :include_blank => "Todas", input_html: {class: 'simple-select2'}, required: false %>
      <% selected_client_options = @selected_client ? [["#{@selected_client.company_name} (#{@selected_client.fantasy_name})", @selected_client.id]] : [] %>
      <%= f.input :client_id_eq,
                  label: model_class.human_attribute_name(:client),
                  as: :select,
                  collection: selected_client_options,
                  include_blank: 'Todos',
                  input_html: {
                    id: 'client',
                    class: 'budget-filter-ajax-select2',
                    data: { url: client_options_budgets_path, placeholder: 'Busque por nome ou fantasia' }
                  },
                  required: false %>

    </div>
    <div class="col-4">
      <%= f.input :created_at_gteq, label: "#{model_class.human_attribute_name(:created_at)} inicial", as: :string, placeholder: 'Ex: 10/01/2018', required: false, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>
      <%= f.input :created_at_lteq, label: "#{model_class.human_attribute_name(:created_at)} final", as: :string, placeholder: 'Ex: 10/02/2018', required: false, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>
      <%= f.input :client_fantasy_name_cont,
                  label: "#{model_class.human_attribute_name(:client)} nome fantasia",
                  as: :string,
                  placeholder: 'Digite parte do nome fantasia',
                  required: false %>
    </div>
    <div class="col-4">
      <%= f.input :deadline_gteq, label: "#{model_class.human_attribute_name(:deadline)} inicial", as: :string, placeholder: 'Ex: 10/01/2018', required: false, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>
      <%= f.input :deadline_lteq, label: "#{model_class.human_attribute_name(:deadline)} final", as: :string, placeholder: 'Ex: 10/02/2018', required: false, input_html: { class: 'date datepicker-here', data: { language: 'pt-BR'} } %>
      <% selected_employee_options = @selected_employee ? [[@selected_employee.name, @selected_employee.id]] : [] %>
      <%= f.input :employee_id_eq,
                  label: model_class.human_attribute_name(:employee),
                  as: :select,
                  collection: selected_employee_options,
                  include_blank: 'Todos',
                  input_html: {
                    class: 'budget-filter-ajax-select2',
                    data: { url: employee_options_budgets_path, placeholder: 'Busque pelo funcionário' }
                  },
                  required: false %>
    </div>
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Limpar', budgets_path, class: 'btn btn-info ml-3' %>
  </div>
  <hr>
<% end %>
