<p id="notice"><%= notice %></p>

<h1>Budgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Employee</th>
      <th>Value</th>
      <th>Deadline</th>
      <th>Delivery options</th>
      <th>Payment term</th>
      <th>Type of payment</th>
      <th>Discount</th>
      <th>Discount type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.client %></td>
        <td><%= budget.employee %></td>
        <td><%= budget.value %></td>
        <td><%= budget.deadline %></td>
        <td><%= budget.delivery_options %></td>
        <td><%= budget.payment_term %></td>
        <td><%= budget.type_of_payment %></td>
        <td><%= budget.discount %></td>
        <td><%= budget.discount_type %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
