<%- model_class = Budget -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_budget_path, class: "btn btn-primary" %>
</div>

<%= render 'search' %>

<%= paginate @budgets if @budgets.size > 20 %>
<%= page_entries_info @budgets, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:cod_name) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:client) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:employee) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:delivery_options) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:deadline) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:discount) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:value) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:created_at) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:status) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.includes(:client, :employee, :delivery_option).each do |budget| %>
      <tr id="budget-item-<%= budget.id %>">
        <%= render 'budgets_item', budget: budget %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @budgets %>

