<%- model_class = Budget -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_budget_path, class: "btn btn-primary" %>
</div>

<%= render 'search' %>

<%= paginate @budgets if @budgets.size > 20 %>
<%= page_entries_info @budgets, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= sort_link @q, :id, "#", default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :cod_name, model_class.human_attribute_name(:cod_name), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :client, model_class.human_attribute_name(:client), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :employee, model_class.human_attribute_name(:employee), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :delivery_options, model_class.human_attribute_name(:delivery_options), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :deadline, model_class.human_attribute_name(:deadline), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :discount, model_class.human_attribute_name(:discount), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :value, model_class.human_attribute_name(:value), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :created_at, model_class.human_attribute_name(:created_at), default_order: :desc %></th>
        <th scope="col"><%= sort_link @q, :status, model_class.human_attribute_name(:status), default_order: :desc %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.includes(:client, :employee, :delivery_option).each do |budget| %>
      <tr id="budget-item-<%= budget.id %>">
        <%= render 'budgets_item', budget: budget %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @budgets %>

