<%- model_class = Budget -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_budget_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:cod_name) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:client) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:employee) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:deadline) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:delivery_options) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:type_of_payment) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:discount) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:value) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:created_at) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
      <tr>
        <td scope="row"><%= budget.id %></td>
        <td><%= budget.cod_name %></td>
        <td><%= budget.client.company_name %></td>
        <td><%= budget.employee.name %></td>
        <td><%=l budget.deadline %></td>
        <td><%= budget.delivery_options_i18n %></td>
        <td><%= budget.type_of_payment_i18n %></td>
        <td><%= number_to_currency budget.discount %></td>
        <td><%= number_to_currency budget.value %></td>
        <td><%= budget.created_at.to_s(:custom_datetime) %></td>
        <td>
          <%= link_to budget, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%#= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to edit_budget_path(budget), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            <%#= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to budget, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

