<%- model_class = Budget -%>
<div class="page-header d-flex flex-row justify-content-start flex-wrap align-items-center w-100">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <div class="d-flex flex-row justify-content-start align-items-center flex-wrap ml-auto">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  budgets_path, :class => 'btn btn-secondary'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_budget_path(@budget), :class => 'btn btn-primary ml-2' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  budget_path(@budget),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger ml-2' %>
    <%= link_to "Gerar PDF", budget_pdf_path(@budget), :class => 'btn btn-info mt-2 mt-md-0 mt-lg-0 ml-md-2 ml-lg-2', target: '_blank' %>
  </div>
</div>
<hr>
<div class="row mt-4 mb-4">
  <div class="col-sm-12 col-lg-4 col-md-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:cod_name) %>:
      </strong>
        <%= @budget.cod_name.rjust(10, "0") %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:created_at) %>:
      </strong>
        <%= @budget.created_at.to_s(:custom_datetime) %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:deadline) %>:
      </strong>
        <%=l @budget.deadline %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:type_of_payment) %>:
      </strong>
        <%= @budget.try(:type_of_payment).try(:name) %>
      <hr>
    </p>
  </div>
  <div class="col-sm-12 col-lg-4 col-md-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:client) %>:
      </strong>
        <%= @budget.client.try(:company_name) %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:employee) %>:
      </strong>
        <%= @budget.employee.name %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:user) %>:
      </strong>
        <%= @budget.user.employee.name %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:delivery_option) %>:
      </strong>
        <%= @budget.try(:delivery_option).try(:name) %>
      <hr>
    </p>
  </div>
  <div class="col-sm-12 col-lg-4 col-md-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:value) %>:
      </strong>
        <%= number_to_currency @budget.value %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:discount) %>:
      </strong>
        <% if @budget.discount_items > 0 %>
          <%= number_to_currency @budget.discount_items %>
        <% elsif @budget.discount.to_f > 0 %>
          <%= @budget.discount_type ? "#{@budget.discount.to_i}%" : number_to_currency(@budget.discount) %>
        <% else %>
          -
        <% end %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:value) %> Total:
      </strong>
        <%= number_to_currency @budget.value_with_discount %>
      <hr>
    </p>
  </div>
</div>
<legend><%= model_class.human_attribute_name(:budget_products) %></legend>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor unitário</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Desconto unitário</th>
        <th scope="col">Total</th>
        <th scope="col">Total com Desconto</th>
        <th scope="col">Alterações</th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget.budget_products.includes(:product).each do |budget_product| %>
        <tr>
          <td><%= budget_product.product.cod %></td>
          <td><%= budget_product.product.name %></td>
          <td><%= number_to_currency budget_product.unit_value %></td>
          <td><%= budget_product.qnt %></td>
          <td><%= budget_product.discount_type ? "#{budget_product.discount.to_i}%" : number_to_currency(budget_product.discount) %></td>
          <td><%= number_to_currency budget_product.total_value %></td>
          <td><%= number_to_currency budget_product.value_discount_total %></td>
          <td><%= budget_product.versions.size-1 %></td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#budget_product-<%= budget_product.id %>">
              Historico
            </button>
            <%= render 'budget_product_historical', budget_product: budget_product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<legend>Eventos</legend>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Evento</th>
        <th scope="col">Alterado em</th>
        <th scope="col">Modificado por</th>
        <th scope="col">Itens</th>
      </tr>
    </thead>
    <tbody>
      <% id = 1 %>
      <% @budget.versions.each do |event| %>
        <tr>
          <td><%= id %></td>
          <td><%=t "paper_trail.#{event.event}" %></td>
          <td><%= event.created_at.to_s(:custom_datetime) %></td>
          <td><%= User.find(event.version_author).employee.name if event.terminator.present? %></td>
          <td>
            <% if event.event == 'update' %>
              <% event.changeset.to_a.each do |key, value| %>
                <% case key %>
                <% when 'deadline' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (l value[0]) : (l value[1]) %> para <%=l value[1] %>
                  <br>
                <% when 'deadline' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (l value[0]) : (l value[1]) %> para <%=l value[1] %>
                  <br>
                <% when 'client_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (Client.find(value[0]).company_name) : 'Vazio' %> para <%= value[1].present? ? (Client.find(value[1]).company_name) : 'Vazio' %>
                  <br>
                <% when 'user_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (User.find(value[0]).employee.name) : 'Vazio' %> para <%= value[1].present? ? (User.find(value[1]).employee.name) : 'Vazio' %>
                  <br>
                <% when 'employee_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (Employee.find(value[0]).name) : 'Vazio' %> para <%= value[1].present? ? (Employee.find(value[1]).name) : 'Vazio' %>
                  <br>
                <% when 'type_of_payment_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (TypeOfPayment.find(value[0]).name) : 'Vazio' %> para <%= value[1].present? ? (TypeOfPayment.find(value[1]).name) : 'Vazio' %>
                  <br>
                <% when 'sub_type_payment_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (SubTypePayment.find(value[0]).name) : 'Vazio' %> para <%= value[1].present? ? (SubTypePayment.find(value[1]).name) : 'Vazio' %>
                  <br>
                <% when 'delivery_option_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (DeliveryOption.find(value[0]).name) : 'Vazio' %> para <%= value[1].present? ? (DeliveryOption.find(value[1]).name) : 'Vazio' %>
                  <br>
                <% when 'sub_delivery_option_id' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= value[0].present? ? (SubDeliveryOption.find(value[0]).name) : 'Vazio' %> para <%= value[1].present? ? (SubDeliveryOption.find(value[1]).name) : 'Vazio' %>
                  <br>
                <% when 'value' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= number_to_currency value[0] %> para <%= number_to_currency value[1] %>
                  <br>
                <% when 'discount' %>
                  <% if event.previous.present? %>
                    <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                      de <%= event.previous.reify.discount_type ? "#{value[0].to_i}%" : number_to_currency(value[0]) %>
                      para <%= event.reify.discount_type ? "#{value[1].to_i}%" : number_to_currency(value[1]) %>
                    <br>
                  <% end %>
                <% when 'discount_items' %>
                  <% if event.previous.present? %>
                    <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                      de <%= event.previous.reify.discount_items.to_f > 0 ? number_to_currency(value[0]) : '-' %>
                      para <%= event.reify.discount_items.to_f > 0 ? number_to_currency(value[1]) : '-' %>
                    <br>
                  <% end %>
                <% when 'value_with_discount' %>
                  <strong><%= model_class.human_attribute_name("#{key}") %></strong>
                  de <%= number_to_currency value[0] %> para <%= number_to_currency value[1] %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
            <% id+=1 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>