<%- model_class = Budget -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @budget.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:client) %>:</strong></dt>
  <dd><%= @budget.client.try(:company_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employee) %>:</strong></dt>
  <dd><%= @budget.employee.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= number_to_currency @budget.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></dt>
  <dd><%=l @budget.deadline %></dd>
  <dt><strong><%= model_class.human_attribute_name(:delivery_options) %>:</strong></dt>
  <dd><%= @budget.delivery_options_i18n %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of_payment) %>:</strong></dt>
  <dd><%= @budget.type_of_payment_i18n %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount_type) %>:</strong></dt>
  <dd><%= @budget.discount_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount) %>:</strong></dt>
  <dd><%= @budget.discount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount_items) %>:</strong></dt>
  <dd><%= number_to_currency @budget.discount_items %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value_with_discount) %>:</strong></dt>
  <dd><%= number_to_currency @budget.value_with_discount %></dd>
</dl>
<legend><%= model_class.human_attribute_name(:budget_products) %></legend>
<ul>
  <% @budget.budget_products.includes(:product).each do |budget_product| %>
    <li>
      <%= budget_product.product.name %> /
      Qnt.: <%= budget_product.qnt %> /
      Valor unit.: <%= number_to_currency budget_product.unit_value %> /
      Desconto total: <%= number_to_currency budget_product.total_value_with_discount %>
      Total: <%= number_to_currency budget_product.total_value %>
    </li>
  <% end %>
</ul>

<hr>
<%= link_to t('.back', :default => t("helpers.links.back")),
              budgets_path, :class => 'btn btn-secondary'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_budget_path(@budget), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              budgets_path(@budget),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
