
<%= simple_form_for(@hit) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
      <%= f.input :residue %>
      <%= f.association :composition, collection: Composition.where(kind: 0), input_html: { onchange: 'setHitItems(this)', class: 'simple-select2'} %>
      <div id="raw_materials_items"></div>

    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', hits_path, class: 'btn btn-danger' %>

<% end %>
