<%- model_class = Hit -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_hit_path, class: "btn btn-primary" %>
</div>

<%= paginate @hits if @hits.size > 20 %>
<%= page_entries_info @hits, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:product) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:composition) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:used) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:hit_items) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @hits.each do |hit| %>
      <tr>
        <td scope="row"><%= hit.id %></td>
        <td><%= link_to hit.product.name, hit.product %></td>
        <td><%= link_to hit.composition.try(:name), hit.composition %></td>
        <td><%= hit.used ? "<span class='badge badge-danger' style='font-size:14px;'>Usado</span>".html_safe : "<span class='badge badge-success' style='font-size:14px;'>Livre</span>".html_safe %></td>
        <td><%= hit.hit_items.sum(:weight).round(3) %> kg</td>
        <td>
          <%= link_to hit, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%#= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to edit_hit_path(hit), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            <%#= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to hit, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @hits %>
