<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hit.name %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @hit.composition %>
</p>

<%= link_to 'Edit', edit_hit_path(@hit) %> |
<%= link_to 'Back', hits_path %>
