<td scope="row"><%= link_to bill_payable.id, bill_payable %></td>
<td><%= link_to_modal bill_payable.provider_contract.provider.company_name, provider_path(bill_payable.provider_contract.provider), class: 'text-dark' %></td>
<td><%= link_to_modal bill_payable.provider_contract.name, provider_contract_path(bill_payable.provider_contract), class: 'text-dark' %></td>
<td><%= bill_payable.category.try(:name) %></td>
<td><%= bill_payable.revenue.try(:name) %></td>
<td><%= label_status_bpi bill_payable_installment %></td>
<td><%= number_to_currency bill_payable_installment.value %></td>
<td><%= bill_payable_installment.status != 'paid' ? bill_payable_installment.date : '-' %></td>
<% if bill_payable_installment.status != 'paid' %>
  <td class="d-print-none text-center" onclick="change_check_pay('pay_<%= bill_payable_installment.id %>');">
    <%= check_box_tag "pagar[]", bill_payable_installment.id, false , :class=>"styled d-none", id: "pay_#{bill_payable_installment.id}" %>
    <i class="material-icons " id="check_pay_<%= bill_payable_installment.id %>">
      check_box_outline_blank
    </i>
  </td>
<% else %>
  <td>-</td>
<% end %>
<td class="d-print-none text-center">
  <%= link_to_modal_form "Pagar", pay_item_path(bill_payable_installment), class: 'btn btn-outline-success' if bill_payable_installment.status != 'paid' %>
  <%#= link_to bill_payable, class: 'btn btn-info has-icon' do %>
  <!-- <i class="material-icons">remove_red_eye</i> -->
  <%#= t('.show', :default => t("helpers.links.show")) %>
  <%# end %>
  <%= link_to edit_bill_payable_path(bill_payable), class: 'btn btn-primary has-icon' do %>
  <!-- <i class="material-icons">edit</i> -->
  <%= t('.edit', :default => t("helpers.links.edit")) %>
  <% end %>
  <%= link_to bill_payable, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
  <!-- <i class="material-icons">delete</i> -->
  <%= t('.destroy', :default => t("helpers.links.destroy")) %>
  <% end %>
</td>