<%= simple_nested_form_for(@bill_payable) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.association :provider_contract, collection: ProviderContract.order(:name), prompt: "Escolha um Contrato", input_html: { class: 'simple-select2' } %>
      <%= f.input :total_value %>
      <span id='file-name' class="badge badge-success"><%= @bill_payable.file.filename if @bill_payable.file.present? %></span>
      <div class="d-flex flex-row bd-highlight mb-3">
        <i class="material-icons p-2 bd-highlight">
        <span id='icon-file' class="badge <%= @bill_payable.file.present? ? 'badge-success' : 'badge-danger' %> ">
          <%= @bill_payable.file.present? ? 'cloud_done' : 'cloud' %>
        </span>
        </i>
        <%= f.input :file, label: false, input_html: { class: 'p-2 bd-highlight' } %>
      </div>
      <%= f.hidden_field :file_cache %>
    </div>
    <div class="col-lg-6">
      <%= f.association :category, input_html: { class: 'simple-select2' } %>
      <%= f.association :revenue, input_html: { class: 'simple-select2' } %>
      <%= f.input :obs %>

    </div>
  </div>
  <legend>Pàrcelas</legend>
  <div id="bill_payable_installments">
    <%= f.fields_for :bill_payable_installments do |bill_payable_installments_form| %>
      <div class="card card-body">
        <div class="row ">
          <div class="col">
            <%= bill_payable_installments_form.association :cred_card, input_html: {class: 'simple-select2'}, prompt: "Escolha um cartão" %>
          </div>
          <div class="col">
            <%= bill_payable_installments_form.input :value, input_html: {class: 'value_budget'} %>
          </div>
          <div class="col">
            <div class="form-group float optional provider_contract_bill_payable_installments_value form-group-valid">
              <label class="form-control-label float optional">  </label>
              <%= bill_payable_installments_form.link_to_remove "Remover orçamento", class: 'btn btn-outline-danger form-control float optional mt-2' %>
            </div>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <hr>
  <p><%= f.link_to_add "Adicionar Orçamento", :bill_payable_installments, :data => { :target => "#bill_payable_installments" }, class: 'btn btn-outline-primary' %></p>
  <hr>

  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', bill_payables_path, class: 'btn btn-danger' %>
<% end %>
