<p id="notice"><%= notice %></p>

<h1>Bill Payables</h1>

<table>
  <thead>
    <tr>
      <th>Provider contract</th>
      <th>Status</th>
      <th>Category</th>
      <th>Revenue</th>
      <th>Obs</th>
      <th>File</th>
      <th>Total value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_payables.each do |bill_payable| %>
      <tr>
        <td><%= bill_payable.provider_contract %></td>
        <td><%= bill_payable.status %></td>
        <td><%= bill_payable.category %></td>
        <td><%= bill_payable.revenue %></td>
        <td><%= bill_payable.obs %></td>
        <td><%= bill_payable.file %></td>
        <td><%= bill_payable.total_value %></td>
        <td><%= link_to 'Show', bill_payable %></td>
        <td><%= link_to 'Edit', edit_bill_payable_path(bill_payable) %></td>
        <td><%= link_to 'Destroy', bill_payable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Payable', new_bill_payable_path %>
