<%- model_class = BillPayable -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_bill_payable_path, class: "btn btn-primary d-print-none" %>
</div>
<%= render 'search' %>

<%= form_tag pays_path do %>
  <div class="d-flex justify-content-between w-100">
    <div class="mb-2">
      <%= paginate @bill_payables if @bill_payables.size > 20 %>
      <%= page_entries_info @bill_payables, entry_name: 'item' %>
    </div>
    <div class="mb-2">
      <%= link_to "Selecionar todos", "javascript:;", :id => "select_all", :class => 'btn btn-info d-print-none' -%>
      <%= submit_tag "Pagar selecionados", :class => 'btn btn-success d-print-none' %>
    </div>
  </div>
<%= paginate @bill_payables %>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= sort_link @q, :id, "#", default_order: :desc %></th>

          <th scope="col"><%= sort_link @q, :provider_contract_name, model_class.human_attribute_name(:provider_contract), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :category, model_class.human_attribute_name(:category), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :revenue, model_class.human_attribute_name(:revenue), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :status, model_class.human_attribute_name(:status), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :total_value, model_class.human_attribute_name(:total_value), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :due_date, model_class.human_attribute_name(:due_date), default_order: :desc %></th>
          <th scope="col" class="d-print-none text-center">Selecione</th>
          <th scope="col" class="d-print-none text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @bill_payables.each do |bill_payable| %>
          <tr>
            <td scope="row"><%= link_to bill_payable.id, bill_payable %></td>
            <td><%= link_to_modal bill_payable.provider_contract.name, provider_contract_path(bill_payable.provider_contract), class: 'text-dark' %></td>
            <td><%= bill_payable.category %></td>
            <td><%= bill_payable.revenue %></td>
            <td><%= label_status_bp bill_payable %></td>
            <td><%= number_to_currency bill_payable.total_value %></td>
            <td><%= bill_payable.due_date %></td>
            <% pays = bill_payable.bill_payable_installments.where(status: 0).order(:date) %>
            <% if pays.present? %>
              <% pay = pays.first %>
              <td class="d-print-none text-center" onclick="$('#pay_<%= pay.id %>').attr('checked', !$('#pay_<%= pay.id %>').attr('checked'));">
                <%= check_box_tag "pagar[]", pay.id, false , :class=>"styled", id: "pay_#{pay.id}" %>
              </td>
            <% end %>
            <td class="d-print-none text-center">
              <%= link_to_modal_form "Pagar", pay_item_path(pay), class: 'btn btn-outline-success' if pays.present? %>
              <%#= link_to bill_payable, class: 'btn btn-info has-icon' do %>
                <!-- <i class="material-icons">remove_red_eye</i> -->
                <%#= t('.show', :default => t("helpers.links.show")) %>
              <%# end %>
              <%= link_to edit_bill_payable_path(bill_payable), class: 'btn btn-primary has-icon' do %>
                <!-- <i class="material-icons">edit</i> -->
                <%= t('.edit', :default => t("helpers.links.edit")) %>
              <% end %>
              <%= link_to bill_payable, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
                <!-- <i class="material-icons">delete</i> -->
                <%= t('.destroy', :default => t("helpers.links.destroy")) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= paginate @bill_payables %>