<p id="notice"><%= notice %></p>

<p>
  <strong>Provider contract:</strong>
  <%= @bill_payable.provider_contract %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill_payable.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill_payable.category %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @bill_payable.revenue %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @bill_payable.obs %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to @bill_payable.file_identifier, @bill_payable.file.url, download: @bill_payable.file_identifier %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @bill_payable.total_value %>
</p>

<%= link_to 'Edit', edit_bill_payable_path(@bill_payable) %> |
<%= link_to 'Back', bill_payables_path %>
