<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <%= simple_nested_form_for(@composition) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <% if @composition.errors.full_messages.any? %>
          <ul>
            <% @composition.errors.full_messages.each do |error_message| %>
              <li class="alert alert-danger">
                <%= error_message if @composition.errors.full_messages.first == error_message %> <br />
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-inputs">
          <%= f.input :name %>
        </div>
        <div id="compositionals">
          <%= f.fields_for :compositionals do |compositionals_form| %>
            <div class="card card-body">
              <div class="d-flex flex-row justify-content-start align-items-end">
                <%= compositionals_form.input :raw_material_id, as: :select, collection: RawMaterial.order(:name), input_html: {class: 'simple-select2'}, wrapper_html: {class: 'w-100'} %>
                <%= compositionals_form.link_to_remove "Remover composto", class: 'btn btn-outline-danger float-right mb-3 ml-2' %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <hr>
        <p><%= f.link_to_add "Adicionar Composto", :compositionals, :data => { :target => "#compositionals" }, class: 'btn btn-outline-primary' %></p>
        <hr>
        <div class="form-actions">
          <%= f.button :submit, :class => 'btn btn-success' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), compositions_path, :class => 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
