<%- model_class = Composition -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_composition_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:name) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:kind) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:compositional) %>s</th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @compositions.each do |composition| %>
      <tr>
        <td scope="row"><%= composition.id %></td>
        <td><%= composition.name %></td>
        <td><%= composition.kind_i18n %></td>
        <td><%= composition.kind == 'raw_material' ? composition.raw_materials.size : composition.sub_compositions.size %></td>
        <td>
          <%= link_to composition, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to edit_composition_path(composition), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            <%= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to composition, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
