<%- model_class = Composition -%>

<div class="page-header d-flex flex-row justify-content-start align-items-center w-100">
  <h1><strong><%=t '.title', :default => model_class.model_name.human.titleize %></strong></h1>
  <% unless @modal %>
    <div class="d-flex flex-row justify-content-start align-items-center ml-auto">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                compositions_path, :class => 'btn btn-secondary'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_composition_path(@composition), :class => 'btn btn-primary ml-2' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  composition_path(@composition),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger ml-2' %>
    </div>
  <% end %>
</div>

<div class="row mt-4 mb-4">
  <div class="col-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:name) %>:
      </strong>
      <%= @composition.name %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:type_residue) %>:
      </strong>

      <%= link_to_modal @composition.type_residue.name, raw_material_path(@composition.type_residue), class: "text-dark" %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:compositional) %>s:
      </strong>
      <ul>
        <% @composition.raw_materials.each do |raw_material| %>
          <li>
            <%= link_to_modal raw_material.name, raw_material_path(raw_material), class: "text-dark" %>
          </li>
        <% end %>
      </ul>
      <hr>
    </p>
  </div>
</div>

