<%= simple_nested_form_for(@bank) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @bank.errors.full_messages.any? %>
    <ul>
      <% @bank.errors.full_messages.each do |error_message| %>
        <li class="alert alert-danger">
          <%= error_message if @bank.errors.full_messages.first == error_message %> <br />
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :name %>
      <%= f.input :ag %>
      <%= f.input :cc %>
      <%= f.input :op %>
    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), banks_path, class: 'btn btn-danger' %>
<% end %>
