<%- model_class = Bank -%>
<div class="page-header d-flex flex-row justify-content-start align-items-center w-100">
  <h1><strong><%=t '.title', :default => model_class.model_name.human.titleize %></strong></h1>
  <%= link_to 'Crédito/Débido', credit_or_debit_path(@bank), class: 'btn btn-info has-icon ml-3' %>
  <% unless @modal %>
    <div class="d-flex flex-row justify-content-start align-items-center ml-sm-0 ml-md-auto ml-lg-auto">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    banks_path, :class => 'btn btn-secondary' %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_bank_path(@bank), :class => 'btn btn-primary ml-2' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    bank_path(@bank),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger ml-2' %>
    </div>
  <% end %>
</div>


<div class="row mt-4 mb-4">
  <div class="col-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:name) %>:
      </strong>
      <%= @bank.name %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:balance) %>:
      </strong>
      <span class='text-<%= @bank.balance > 0 ? 'success' : 'danger' %>'>
        <%= number_to_currency @bank.balance %>
      </span>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:updated_at) %>:
      </strong>

      <%= @bank.updated_at %>
      <hr>
    </p>
  </div>
  <div class="col-6">
    <p>
      <strong>
        <%= model_class.human_attribute_name(:ag) %>:
      </strong>
      <%= @bank.ag %>
      <hr>

      <strong>
        <%= model_class.human_attribute_name(:cc) %>:
      </strong>
      <%= @bank.cc %>
      <hr>
      <strong>
        <%= model_class.human_attribute_name(:op) %>:
      </strong>
      <%= @bank.op %>
      <hr>
    </p>
  </div>
</div>
<strong>
  <%= model_class.human_attribute_name(:op_transactions) %>:
</strong>
<%- model_class = OpTransaction -%>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= model_class.human_attribute_name(:id) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:type_action) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:action) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:transactionable) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:obs) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:value) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:created_at) %></th>

      </tr>
    </thead>
    <tbody>
      <% @bank.op_transactions.order(id: :desc).each do |op_transaction| %>
        <tr>
          <td>
            <%= op_transaction.id %>
          </td>
          <td>
            <span class='text-<%= op_transaction.type_action == 'credit' ? 'success' : 'danger' %>'>
              <%= op_transaction.type_action_i18n %>
            </span>
          </td>
          <td>
            <%= op_transaction.action_i18n %>
          </td>
          <td>
            <%= op_transaction.transactionable_type.constantize.model_name.human.titleize %>
            <% case %>
            <% when op_transaction.transactionable_type == 'User' %>
              <%= op_transaction.transactionable.try(:username) %>
            <% when op_transaction.transactionable_type == 'BillPayableInstallment' %>
              nº<%= op_transaction.transactionable.id %>
            <% when op_transaction.transactionable_type == 'BillReceivableInstallment' %>
              nº<%= op_transaction.transactionable.id %>
            <% else %>
              nº<%= op_transaction.transactionable.id %>
            <% end %>
          </td>
          <td>
            <%= op_transaction.obs %>
          </td>
          <td>
            <span class='text-<%= op_transaction.value > 0 ? 'success' : 'danger' %>'>
              <%= number_to_currency op_transaction.value %>
            </span>
          </td>
          <td>
            <%= op_transaction.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>