<%- model_class = User -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_user_path, class: "btn btn-primary" %>
</div>

<%= paginate @users if @users.size > 20 %>
<%= page_entries_info @users, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Employee.human_attribute_name(:name) %></th>
        <th scope="col"><%= Employee.human_attribute_name(:cpf) %></th>
        <th scope="col"><%= Employee.human_attribute_name(:phone1) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:email) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:deleted) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.includes(:employee).each do |user| %>
      <tr>
        <td scope="row"><%= user.id %></td>
        <td><%= user.try(:employee).try(:name) %></td>
        <td><%= user.try(:employee).try(:cpf) %></td>
        <td><%= user.try(:employee).try(:phone1) %></td>
        <td><%= user.email %></td>
        <td><%= user.deleted_at.present? ? "Não / #{user.deleted_at}" : "Sim" %></td>
        <td>
          <%= link_to user, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%#= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to edit_user_path(user), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            <%#= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to user, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
