<%- model_class = StockRawMaterial -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_stock_raw_material_path, class: "btn btn-primary" %>
</div>

<%= paginate @stock_raw_materials if @stock_raw_materials.size > 20 %>
<%= page_entries_info @stock_raw_materials, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:raw_material) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:weight) %></th>
        <!-- <th scope="col"><%#= model_class.human_attribute_name(:weight_out) %></th> -->
        <th scope="col"><%= model_class.human_attribute_name(:price) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_raw_materials.each do |stock_raw_material| %>
      <tr>
        <td scope="row"><%= stock_raw_material.id %></td>
        <td><%= stock_raw_material.raw_material.name %></td>
        <td><%= stock_raw_material.weight.round(3) %> kg</td>
        <!-- <td><%#= stock_raw_material.weight_out.round(3) %> kg</td> -->
        <td><%=  number_to_currency(stock_raw_material.price, :unit => "R$") %></td>
        <td>
          <%= link_to stock_raw_material, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%#= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to stock_raw_material, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @stock_raw_materials %>
