<%- model_class = Client -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_client_path, class: "btn btn-primary" %>
</div>
<%= render 'search' %>
<%= paginate @clients if @clients.size > 20 %>
<%= page_entries_info @clients, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:company_name) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:cnpj) %>/<%= model_class.human_attribute_name(:cpf) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:city) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:phone1) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:employee) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.includes(:state, :city, :employee).each do |client| %>
        <tr>
          <td scope="row"><%= link_to client.id, client %></td>
          <td><%= link_to client.company_name, client %></td>
          <td><%= client.cnpj %> <%= client.cpf %></td>
          <td><%= client.city.name %>-<%= client.state.acronym %></td>
          <td><%= client.phone1 %></td>
          <td><%= client.employee.name %></td>
          <td>
            <% if can? :update, client %>
              <%= link_to edit_client_path(client), class: 'btn btn-primary has-icon' do %>
                <!-- <i class="material-icons">edit</i> -->
                <%= t('.edit', :default => t("helpers.links.edit")) %>
              <% end %>
            <% end %>
            <% if can? :destroy, client %>
              <%= link_to client, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
                <!-- <i class="material-icons">delete</i> -->
                <%= t('.destroy', :default => t("helpers.links.destroy")) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @clients %>