<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>Fantasy name:</strong>
  <%= @client.fantasy_name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @client.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @client.cnpj %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @client.ie %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @client.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @client.phone2 %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @client.employee %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
