<p id="notice"><%= notice %></p>

<h1>Cred Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Catd final</th>
      <th>Valid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cred_cards.each do |cred_card| %>
      <tr>
        <td><%= cred_card.name %></td>
        <td><%= cred_card.catd_final %></td>
        <td><%= cred_card.valid %></td>
        <td><%= link_to 'Show', cred_card %></td>
        <td><%= link_to 'Edit', edit_cred_card_path(cred_card) %></td>
        <td><%= link_to 'Destroy', cred_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cred Card', new_cred_card_path %>
