<%- model_class = CredCard  -%>

<div class="page-header d-flex justify-content-lg-between align-items-center mb-2">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_cred_card_path, class: "btn btn-primary" %>
</div>

<%= paginate @cred_cards if @cred_cards.size > 20 %>
<%= page_entries_info @cred_cards, entry_name: 'item' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= model_class.human_attribute_name(:name) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:card_final) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:valid_card) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @cred_cards.each do |cred_card| %>
      <tr>
        <td><%= cred_card.name %></td>
        <td><%= cred_card.card_final %></td>
        <td><%= cred_card.valid_card %></td>
        <td>
          <%= link_to cred_card, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%#= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to edit_cred_card_path(cred_card), class: 'btn btn-primary has-icon' do %>
            <i class="material-icons">edit</i>
            <%#= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to cred_card, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%#= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @cred_cards %>

