<%= simple_form_for(@stock_final_product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :kind, as: :select, collection: StockFinalProduct.kinds_i18n.map { |w| [w[1], w[0]] }, prompt:  'Escolha um tipo', input_html: { onchange: 'changeKindSFP(this)'} %>
      <span class="raw-material d-none">
        <%= f.association :hit, collection: Hit.where(used: false) %>
      </span>
      <span class="product d-none">
        <%= f.association :product %>
      </span>
      <%= f.input :amount %>
    </div>
  </div>

  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', stock_final_products_path, class: 'btn btn-danger' %>

<% end %>
