<%- model_class = StockFinalProduct -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_stock_final_product_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= model_class.human_attribute_name(:composition) %> / <%= model_class.human_attribute_name(:hit) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:amount) %></th>
        <th scope="col"><%= model_class.human_attribute_name(:cost) %></th>
        <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_final_products.each do |stock_final_product| %>
      <tr>
        <td scope="row"><%= stock_final_product.id %></td>
        <% if stock_final_product.kind == "raw_material" %>
          <td><%= stock_final_product.hit.try(:name) %></td>
        <% else %>
          <td><%= stock_final_product.composition.try(:name) %></td>
        <% end %>
        <td><%= stock_final_product.amount %></td>
        <td><%= number_to_currency(stock_final_product.cost) %></td>
        <td>
          <%= link_to stock_final_product, class: 'btn btn-info has-icon' do %>
            <i class="material-icons">remove_red_eye</i>
            <%= t('.show', :default => t("helpers.links.show")) %>
          <% end %>
          <%= link_to stock_final_product, method: :delete, data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-danger has-icon' do %>
            <i class="material-icons">delete</i>
            <%= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>