<%- model_class = StockFinalProduct -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:product) %>:</strong></dt>
  <dd><%= @stock_final_product.try(:product).try(:name) %></dd>
  <% if @stock_final_product.kind == "raw_material" %>
    <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
    <dd><%= @stock_final_product.weight.round(3) %> kg</dd>
    <dt><strong><%= model_class.human_attribute_name(:estimated_weight) %>:</strong></dt>
    <dd><%= @stock_final_product.estimated_weight.round(3) %> kg</dd>
    <dt><strong><%= model_class.human_attribute_name(:residue) %>:</strong></dt>
    <dd><%= @stock_final_product.residue.round(3) %> kg</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @stock_final_product.amount.to_i %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount_out) %>:</strong></dt>
  <dd><%= @stock_final_product.amount_out.to_i %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= number_to_currency @stock_final_product.cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %> por unidade:</strong></dt>
  <dd><%= number_to_currency(@stock_final_product.cost/(@stock_final_product.amount)) %></dd>
</dl>
<hr>
<% if @stock_final_product.kind == "raw_material" %>
  <legend>Itens usados</legend>
  <ul>
    <% @stock_final_product.hit.hit_items.includes(:raw_material).each do |hit_item| %>
      <li>
        <%= hit_item.raw_material.name %> / <%= hit_item.weight.round(3) %> kg
      </li>
    <% end %>
    <li>
      Borra / <%= @stock_final_product.hit.residue %> kg
    </li>
  </ul>
<% else %>
<legend>Produto usado</legend>
<dd><%= model_class.human_attribute_name(:product) %>:</dd>
<dd><%= @stock_final_product.try(:derivative).try(:name) %></dd>
<dd><%= model_class.human_attribute_name(:qnt_out) %>:</dd>
<dd><%= @stock_final_product.qnt_out %></dd>
<% end %>
<hr>
<%= link_to t('.back', :default => t("helpers.links.back")),
              stock_final_products_path, :class => 'btn btn-secondary'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              stock_final_product_path(@stock_final_product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to t('.new', :default => t("helpers.links.new")), new_stock_final_product_path, class: "btn btn-primary" %>