<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :cod %>
      <%= f.input :name %>
      <%= f.association :category_product, prompt: "Escolha uma categoria", input_html: { class: 'simple-select2' }  %>
      <%= f.input :derivative %>
      <% if f.object.new_record? %>
        <%= f.input :price, as: :string, input_html: { class: 'money' } %>
      <% else %>
        <%= f.input :price, input_html: { class: '' } %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', products_path, class: 'btn btn-danger' %>

<% end %>
