<%- model_class = Product -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1>Previsão de produção do dia</h1>
</div>

Exibindo <%= @products.size %> item

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= sort_link @q, :cod, model_class.human_attribute_name(:cod), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :name, model_class.human_attribute_name(:name), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :qnt, model_class.human_attribute_name(:qnt), default_order: :desc %></th>
      <th scope="col"><%= sort_link @q, :reserve, model_class.human_attribute_name(:reserve), default_order: :desc %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.cod %></th>
        <td><%= product.name %></td>
        <td><%= product.qnt %></td>
        <td><%= product.reserve %></td>
      </tr>
    <% end %>
  </tbody>
</table>