<%- model_class = Product -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1>Previsão de produção do dia</h1>
</div>

<table class="table table-striped text-center table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Em Estoque</th>
      <th scope="col"> Esperado</th>
      <th scope="col"> Para Produzir</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @products.each do |product| %>
      <% if product['para_produzir'] > 0 %>
        <tr>
          <th scope="row"><%= i %></th>
          <th scope="row"><%= product["cod"] %></th>
          <td><%= link_to_modal product["name"], product_cod_path(product["cod"]), 'text-dark' %></td>
          <td style="background-color: #c5ffe5 "><%= number_with_delimiter product["qnt_produto"].to_i, delimiter: ".", separator: "," %> itens</td>
          <td style="background-color: #fbffa2 "><%= number_with_delimiter product["qnt_pedidos"].to_i, delimiter: ".", separator: "," %> itens</td>
          <td style="background-color: #ff9ea0 "><%= number_with_delimiter product["para_produzir"].to_i, delimiter: ".", separator: "," %> itens</td>
        </tr>
        <% i+=1 %>
      <% end %>
    <% end %>
  </tbody>
</table>
