<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'Logo3.png', alt: 'logo', width: "50", height: "29" %>Tubos Poty
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- orcamentos   -->
      <% if (can? :create, Budget) or (can? :read, Budget) %>
        <li class='nav-item dropdown <%= "#{active_class(new_budget_path)} #{active_class(budgets_path)}  #{active_class(products_path)}" %>'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orçamentos</a>
          <div class="dropdown-menu hasDropboxAnimation">
            <%= link_to 'Novo Orçamento', new_budget_path, class: "dropdown-item #{active_class(new_budget_path)}" if can? :create, Budget %>
            <%= link_to 'Orçamentos', budgets_path, class: "dropdown-item #{active_class(budgets_path)}" if can? :read, Budget %>
          </div>
        </li>
      <% end %>

      <!-- estoque  -->
      <% if (can? :read, Hit) or (can? :read, Product) or (can? :read, StockRawMaterial) or (can? :read, StockFinalProduct) %>
        <li class='nav-item dropdown <%= "#{active_class(hits_path)} #{active_class(stock_raw_materials_path)}  #{active_class(stock_final_products_path)}" %>'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Estoque</a>
          <div class="dropdown-menu hasDropboxAnimation">
            <%= link_to 'Entrada de batida', hits_path, class: "dropdown-item #{active_class(hits_path)}" if can? :read, Hit %>
            <%= link_to 'Entrada de Matéria-Prima', stock_raw_materials_path, class: "dropdown-item #{active_class(stock_raw_materials_path)}" if can? :read, StockRawMaterial %>
            <%= link_to 'Entrada de produto final', stock_final_products_path, class: "dropdown-item #{active_class(stock_final_products_path)}" if can? :read, StockFinalProduct %>
            <%= link_to 'Produtos', products_path, class: "dropdown-item #{active_class(products_path)}" if can? :read, Product %>
          </div>
        </li>
      <% end %>

      <!-- cadastros -->
      <% if (can? :read, Client) or (can? :read, Composition) or (can? :read, Provider) or (can? :read, Employee) or (can? :read, RawMaterial) or (can? :read, User) %>
        <li class='nav-item dropdown <%= "#{active_class(raw_materials_path)} #{active_class(compositions_path)} #{active_class(users_path)} #{active_class(employees_path)} #{active_class(providers_path)} #{active_class(clients_path)}" %>'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastros</a>
          <div class="dropdown-menu hasDropboxAnimation">
            <%= link_to 'Clientes', clients_path, class: "dropdown-item #{active_class(clients_path)}" if can? :read, Client %>
            <%= link_to 'Compósições', compositions_path, class: "dropdown-item #{active_class(compositions_path)}" if can? :read, Composition %>
            <%= link_to 'Fornecedores', providers_path, class: "dropdown-item #{active_class(providers_path)}" if can? :read, Provider %>
            <%= link_to 'Funcionários', employees_path, class: "dropdown-item #{active_class(employees_path)}" if can? :read, Employee %>
            <%= link_to 'Matéria-Prima', raw_materials_path, class: "dropdown-item #{active_class(raw_materials_path)}" if can? :read, RawMaterial %>
            <%= link_to 'Usuários', users_path, class: "dropdown-item #{active_class(users_path)}" if can? :read, User %>
          </div>
        </li>
      <% end %>

      <!-- sistema  -->
      <% if (can? :read, DeliveryOption) or (can? :read, TypeOfPayment) %>
        <li class='nav-item dropdown <%= "#{active_class(delivery_options_path)} #{active_class(type_of_payments_path)}" %>'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastros</a>
          <div class="dropdown-menu hasDropboxAnimation">
            <%= link_to 'Opções de entrega', delivery_options_path, class: "dropdown-item #{active_class(delivery_options_path)}" if can? :read, DeliveryOption %>
            <%= link_to 'Tipos de pagamento', type_of_payments_path, class: "dropdown-item #{active_class(type_of_payments_path)}" if can? :read, TypeOfPayment %>
          </div>
        </li>
      <% end %>
      <!-- editar usuario -->
      <% if user_signed_in? %>
        <li class='nav-item dropdown <%= "#{active_class(edit_user_path(current_user))} #{active_class(destroy_user_session_path)}" %>'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Olá, <%= current_user.username %></a>
          <div class="dropdown-menu hasDropboxAnimation">
            <%= link_to("Editar Perfil", edit_user_path(current_user), class: "dropdown-item #{active_class(edit_user_path(current_user))}") %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item #{active_class(destroy_user_session_path)}") %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class: "nav-link")  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav
