<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag 'favicon.ico', rel: 'icon' %>

    <title>Fabrica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <% if request.url.index(/teste.fabrica.nacionalservicos/) != nil %>
      <div class="alert alert-warning text-center">
        Área de teste. Todos os dados e ações tem efeito apenas de simulação
      </div>
    <% end %>
    <main role="main">
      <div class="container-fluid">
        <% flash.each do |name, msg| %>
          <% aux = 'alert-primary' %>
          <% case name
            when 'notice'
              aux = 'alert-primary'
            when 'success'
              aux = 'alert-success'
            when 'error'
              aux = 'alert-danger'
            when 'alert'
              aux = 'alert-warning'
            end
          %>
          <%= content_tag(:div, msg, class: "alert #{aux} text-center") %>
        <% end %>
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <%= yield %>
          <%= render 'layouts/modal_show' %>
          <%= render 'layouts/modal_form' %>
        </div>
      </div>
    </main>

    <%= javascript_include_tag 'application', params[:controller] %>

  </body>
</html>